.home-container {
  background: #DEEDF2;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  .about {
    width: 1383px;
    height: 312px;
    display: flex;
    flex-direction: column;
  }
}