.btn {
  line-height: 2.5rem;
  text-align: center;
  vertical-align: middle;margin-bottom: 12px;
  a {
    margin-top: auto;
    margin-bottom: auto;
    display:inline-block;
    color:#223053;
    cursor:pointer;
    width: 237px;
    height: 41px;
    background: #B2E0F6;
    border: 1px solid #000;
    opacity: 1;
    text-decoration: none;
    &.active {
      background: #709EB2;
    }
  }
}