.header {
  /*let's have the header and footer match*/
  background-image: url('../../assets/img/sweden-meadow.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
 }